// ==========================================================================
// App / Layout / Header.scss
// ==========================================================================

.header {
  &__container {
    @include xy-grid-container;
  }

  &__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;

      li {
        &:not(:last-child) {
          margin-right: 20px;
        }
        a {
          transition: 0.3s;

          display: flex;
          flex-direction: row;
          align-items: baseline;

          svg {
            fill: $white;
            transition: 0.3s;
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }

          &:hover {
            span {
              color: $primary-color;
            }

            svg {
              fill: $primary-color;
            }
          }
        }
      }
    }
  }

  .logo {
    text-align: center;
    a {
      font-weight: $font-weight-normal;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 18px;
      transition: 0.3s;

      &:hover {
        color: $primary-color;

        .logo__small {
          color: $primary-color;
        }
      }
    }

    &__emphasis {
      color: $primary-color;
      font-weight: $font-weight-bolder;
      font-size: 24px;
    }

    &__small {
      text-transform: lowercase;
      font-weight: $font-weight-light;
      font-size: 16px;
      transition: 0.3s;
    }
  }
}
