// ==========================================================================
// App / Modules / Errors.scss
// ==========================================================================

.inline-error {
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;

  svg {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }

  p {
    font-size: 14px;
    color: $alert-color;
  }

  &__alert {
    background: $alert-color-light;

    svg {
      fill: $alert-color;
    }
  }

  &__warning {
    background: $warning-color-light;

    svg {
      fill: $warning-color;
    }
  }

  &__success {
    background: $success-color-light;

    svg {
      fill: $success-color;
    }
  }

  &__info {
    background: $information-color-light;

    svg {
      fill: $information-color;
    }
  }
}
