// ==========================================================================
// Base / Base / Base.scss
// ==========================================================================

body {
  background-color: $primary-color-dark;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}
