// ==========================================================================
// Base / Base / Theme.scss
// ==========================================================================

$primary-color: #2E4052;
$primary-color-light: #9db3c8;
$primary-color-dark: #152739;

$secondary-color: #B2BD7E;
$secondary-color-light: #e0e5cb;
$secondary-color-dark: #99A465;

$success-color: #C8E087;
$success-color-light: #e9f3cf;

$alert-color: #7C3238;
$alert-color-light: #d89fa4;

$warning-color: #D58936;
$warning-color-light: #eed0af;

$information-color: #37515F;
$information-color-light: #a4bdca;

$white: #E8EBE4;
$black: #050404;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;
